{{template "header"}}

<section style="padding: 1.5em">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">View</a></li>
            <li class="is-active"><a href="/view/{{.Title}}">{{.Title}}</a></li>
        </ul>
    </nav>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{.Title}}
            </h1>
            <h2 class="subtitle">
                <a href="/edit/{{.Title}}">edit</a>
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="notification">
        <div class="container">
            <!-- <h1 class="title">Section</h1> -->
            <h2 class="subtitle withNewLines">
                {{printf "%s" .Body}}
            </h2>
        </div>
    </div>

</section>

{{template "footer"}}